*,
*::before,
*::after {
  box-sizing: border-box;
  border-color: var(--border);
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

button,
input,
select,
textarea {
  font-family: inherit;
}

app-root {
  display: block;
  height: 100%;
}
